.Rproj.user
.Rhistory
.RData
.Ruserdata
**_cache
NCVS20*
UCR2012
Crimes_-_2001_to_Present*
/09_shapefiles_and_data/LAPD crime data 2010-2019.csv
/09_shapefiles_and_data/LAPD crime data 2020-present.csv
